body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff3e0; /* Light orange background */
    color: #333;
}

header {
    background-color: #ff9800; /* Orange header */
    padding: 2rem 1rem;
    text-align: center;
    border-bottom: 1px solid #fb8c00; /* Darker orange border */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #fff; /* White text for header */
}

.search-container {
    margin-bottom: 1rem;
}

#search-bar {
    width: 50%;
    max-width: 500px;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    border: 1px solid #ffb74d; /* Lighter orange border */
    background-color: #fff8e1; /* Very light orange background */
    color: #333;
    font-size: 1rem;
}

.filter-container {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem; /* Add space between buttons */
    padding: 0 1rem; /* Add some padding to the container */
}

.filter-btn {
    background-color: transparent;
    border: 1px solid #e65100; /* Darker orange border */
    color: #e65100; /* Darker orange text */
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn.active, .filter-btn:hover {
    background-color: #e65100; /* Darker orange background */
    color: #fff;
}

#schedule-container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 900px;
    margin: 0 auto;
}

.schedule-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
}

.schedule-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.time-slot {
    font-weight: 600;
    font-size: 0.9rem;
    color: #ef6c00; /* Darker orange for time */
    margin-bottom: 0.5rem;
}

.talk-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: #333;
}

.speakers {
    font-style: italic;
    margin-bottom: 1rem;
    color: #666;
}

.description {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #555;
    flex-grow: 1;
}

.categories {
    margin-top: 1rem;
}

.category {
    display: inline-block;
    background-color: #ffcc80; /* Light orange for category tags */
    color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.break-time {
    font-style: italic;
    color: #ef6c00; /* Darker orange for break time */
    text-align: center;
    padding: 2rem;
    background-color: #fff8e1; /* Very light orange background */
    border-radius: 15px;
}
